.card {
    background: var(--s);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    &__body {
        color: var(--txt-color);
    }
}