@import './app.css';
@import './card.scss';
@import './dashboard.scss';

:root {
    /* --bg: #0e0f10; */
    --bg: #292f3f;
    --s-dark: #272a35;
    --s: #373e4e;
    --s-light: #7a8194;
    --txt-color: rgb(228, 228, 228);
    --pink: #b347ea;
    --purple: #837dff;
    --green: #00ac83;
    --orange: #f18303;
    --primary: #03a9f1;
  }