@import './app.scss';
@import './dashboard.scss';
@import './weather.scss';
@import './clock.scss';

:root {
    /* --bg: #0e0f10; */
    --bg: #000000;
    --s-dark: #272a35;
    --s: #161616;
    --s-light: #7a8194;
    --txt-color: rgb(255, 255, 255);
    --pink: #b347ea;
    --purple: #837dff;
    --green: #00ac83;
    --orange: #f18303;
    --primary: #03a9f1;
  }